* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#wrap {
  width: 100%;
}

#join {
  width: 500px;
  height: 680px;

  margin: 0 auto;
  margin-top: 70px;
  border: 1px solid #333;
  border-radius: 10%;
}
#join input {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 40px;
  border: 0;
  border-bottom: 1px solid #333;
}
/* 아이디 입력창 */
#id_box {
  float: left;
  width: 65%;
}
#id_check {
  float: right;
  width: 20%;
  height: 50px;
  margin-right: 12%;
  background-color: pink;
}
/* 비밀번호 체크 */
#pass_ch {
  float: left;
  /* display: none; */
  margin-left: 40px;
}
#diff_pw{
  color: red;
  display :none;
}
#equal_pw{
  color: lawngreen;
    display :none;
}
/* 성별 */
.gender {
  float: left;
  width: 40%;
  height: 50px;
  margin-left: 35%;
}
.gender input[type="radio"] {
  display: none;
  margin: 10px;
}
.gender input[type="radio"] + label {
  display: inline-block;
  margin: -2px;
  padding: 8px 19px;
  background-color: pink;
  border: 1px solid #ccc;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
.gender input[type="radio"]:checked + label {
  background-color: deeppink;
}
/* 이메일 */
#email {
  float: left;
  width: 65%;
}
#email_btn {
  float: right;
  width: 20%;
  height: 50px;
  margin-right: 12%;
  background-color: pink;
}
/* 주소 */
#addr_h {
  float: left;
  width: 50%;
}
#addr_h input {
  border: 1px solid #333;
}
#addr_btn {
  float: right;
  width: 20%;
  height: 50px;
  margin-right: 12%;
  background-color: pink;
}
#addr_m input {
  border: 1px solid #333;
}
#addr_f input {
  border: 1px solid #333;
}
/* 가입버튼 */
#join_btn {
  width: 80%;
  height: 50px;
  background-color: pink;
  margin-top: 20px;
  margin-left: 40px;
}

#join h1 {
  /* margin: 0 auto; */
  text-align: center;
}
#join img {
  width: 200px;
  height: 100px;
}
